<!DOCTYPE html>
<html>
  <head>
    <title>Email Confirmation</title>
  </head>
  <body>
    <h2>Hi {{ data[1] }},</h2>
    <p>
      You requested a password reset!. Please click the button below to choose a
      new password:
    </p>
    <p>
      <a href="{{ data[0] }}">
        <button
          style="
            width: 8rem;
            height: 2.5rem;
            border: none;
            color: white;
            background-color: orange;
            cursor: pointer;
            border-radius: 5px;
            font-weight: bold;
          "
        >
          Reset Password
        </button>
      </a>
    </p>
    <p>Thanks!</p>
  </body>
</html>
